<a href="/albums/<%=item.id %>">
    <div class="album-item">
        <img src="<%=item.src %>" alt="<%=item.name %>">
        <div class="album-name">
            <%=item.name %>
        </div>
    </div>
</a>

