<div class="screen" id="albumPreview">
   <div class="head">
        <a href="#" data-id="<%=albumId %>" id="deleteAlbumButton" class="head__content">Delete Album</a>
        <h1 class="head__content"><%=albumName %></h1>
        <a href="/" class="head__content" id="allAlbumsButton">All Albums</a>
    </div>
    <div class="grid">
        <div class="grid__row">
            <% for(let i = 0; i < columns.length; i++) { %>
                    <%- include("./column", { items: columns[i] }) %>
            <%  } %>
        </div>
    </div>
</div>