<div class="grid__item" data-id="<%=item.id %>">
    <figure>
        <img src="<%=item.src %>" alt="mcQueen">
        <div class="popup-button__delete">
            <a href="#" class="delete-button">Delete</a>
        </div>
    </figure>
</div>