<div class="screen" id="createAlbumForm">
    <h1>Create New Album</h1>
    <div class="form">
        <input type="text" name="name" id="albumName" placeholder="Name your album">
        <input type="text" name="url" id="url" placeholder="Insert URL to scrobble">
        <input type="button" id="createButton" value="Create!" >
    </div>
</div>