<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <title>InstAlbum</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/createForm.bundle.js"></script>
</head>
<body>

    <%- include("./createForm") %>

    <div id="loadSpinner" class="lds-ring"><div></div><div></div><div></div><div></div></div>
</body>
</html>